
body {font-size:16px;}

.wrapper {width:100%;margin:0;padding:0;height:0;}

.contents{width:100%;margin:0 auto;}

header{width:100%;margin:0 auto;background:#000;color:#fff;}

h1 {font-size:4em;line-height:1.7;}

p {font-size:1em;line-height:1.7;margin-bottom:1px;}

nav {width:100%;margin:0 auto;background:#ccc;color:#fff;}

section {width:100%;margin:0 auto;}

#01 {
    background:#ccc;
    color:#fff;
}
#02 {
    background:#ccc;
    color:#fff;
}
#03 {
    background:#ccc;
    color:#fff;
}
#04 {
    background:#ccc;
    color:#fff;
}
main {
    background:#fff;
    color:#000;
}
.inner {
    max-width:1280px;
    margin:0 auto;
}

footer {
    width:100%;
    margin:0 auto;
    background:#000;
    color:#fff;
}